.usersPageBlock {
    padding: 10px;
}
.avatar,
.button,
.namestyle{
    display: flex;
    justify-content: center;
}

.item img{
    width: 30px;
    height: 30px;
    border-radius: 60px;
    font-weight: bold;
}

.textareaSize {
    height: 30px;
    margin-left: 20px;
}

.selectedPage {
    font-weight: bold;
}

.preloader svg{
    width: 50px;
    height: 50px;
}

.pageTitle{
    display: flex;
    justify-content: center;
}

.userInfo{
    display: flex;
    justify-content: center;
}
