.header {
  grid-area: h;
  margin-top: 10px;
  background-color: none;
  border: 3px solid #eee;
  padding: 7px;
}

.header img {
  width: 60px;
}

.loginBlock {
  float: right;
  padding: 10px;
}

.loginBlock a {
  color: black;
}