.nav {
  grid-area: n;
  background-color: none;
  border: 3px solid #eee;
  padding: 20px;
}

.item a{
  color: darkgreen;
  text-decoration: none; /*no underline of texts*/
  margin: 10px;
}

.item a.activeLink {
  color: darkblue;
}